/* YOUR CUSTOM STYLES */


/* Navbar Related CSS */

.nav-item {
    margin-left: 25px;
    color: black;
    transition: color 0.5s;
}
.nav-item > a{
    font-family: 'Arvo', serif;
    font-size:14px;
}

#nav {
    padding: 30px;
    background-color: white;
    transition: padding 1s;
}

.nav-item:hover {
    color: teal;
    font-weight: bolder;
    
    
}
.navbar-brand{
    font-size: 25px;
}