  	 <link href="../css/bootstrap.min.css" rel="stylesheet">
  	  <link href="../css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/footerpages.css">

  	<div class="container  pagecontainer card1">  
		    <div class="row title ">
		    	<div class=" offset-sm-0 col-sm-6 col-md-12 ">
		    		<a href="https://test.shuttlescrap.com/"><span><img src="img/logo.png" height="60" width="90"></span><strong class="heading">ShuttleScrap</strong></a>
		    	</div>
		    </div>

		    <div class="row option">
			    	<div class="offset-md-2 col-md-4">
			    		<div class="option1">
			    			<span class="fa fa-mobile" aria-hidden="true"></span><b><a href="#" style="color: #22aa86;font-size:15px">Get the App</a></b>
			    		</div>
			    	</div>

			    	<div class="offset-md-2 col-md-4">
			    		<div class="option1">
			    			<span class="fa fa-shopping-cart" aria-hidden="true"></span><b><a href="https://pickup.shuttlescrap.com/" style="color: #22aa86;font-size:15px">Schedule Pickup</a></b>
			    		</div>
			    	</div>
			   
		    </div>
	</div>

	<div class="container content-div" style="padding-top:20px">
		<div class="row">
			<div class="col-md-5 col-md-offset-1">
				<h1 style="color: #22aa86">FAQs</h1>
			</div>	
		</div>

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="panel-group" id="accordian">
					<div class="panel">
						<div class="panel-heading">
							<h4 class="panel-title faq_title"><a data-toggle="collapse" data-parent="#accordion" href="#faq1">FAQ 1</a></h4>
						</div>

						<div id="faq1" class="panel-collapse collapse">
        					<div class="panel-body ">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
					        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					       	</div>
					    </div>
					</div>

					<div class="panel">
						<div class="panel-heading">
							<h4 class="panel-title faq_title"><a href="#faq2" data-toggle="collapse" data-parent="#accordion">FAQ 2</a></h4>
						</div>

						<div class="panel-collapse collapse" id="faq2">
							<div class="panel-body faq_title">kjcc</div>
						</div>
					</div>

					<div class="panel">
						<div class="panel-heading">
							<h4 class="panel-title faq_title"><a href="#faq3" data-toggle="collapse" data-parent="#accordion">FAQ3</a></h4>
						</div>

						<div id="faq3" class="collapse panel-collapse">
							<div class="panel-body faq_title">
								crubcuirurvri
							</div>
						</div>
					</div>

					<div class="panel">
						<div class="panel-heading">
							<h4 class="panel-title faq_title"><a href="#faq4" data-toggle="collapse" data-parent="#accordion">FAQ 4</a></h4>
						</div>

						<div class="collapse panel-collapse" id="faq4">
							<div class="panel-body faq_title">dedfu
							</div>
						</div>
					</div>

					<div class="panel">
						<div class="panel-heading">
							<h4 class="panel-title faq_title"><a href="#faq5" data-toggle="collapse" data-parent="#accordion">FAQ 5</a></h4>
						</div>

						<div class="collapse panel-collapse" id="faq5">
							<div class="panel-body faq_title">dedfu
							</div>
						</div>
					</div>

					<div class="panel">
						<div class="panel-heading">
							<h4 class="panel-title faq_title"><a href="#faq6" data-toggle="collapse" data-parent="#accordion">FAQ 6</a></h4>
						</div>

						<div class="collapse panel-collapse" id="faq6">
							<div class="panel-body faq_title">dedfu
							</div>
						</div>
					</div>

					<div class="panel">
						<div class="panel-heading">
							<h4 class="panel-title faq_title"><a href="#faq7" data-toggle="collapse" data-parent="#accordion">FAQ 7</a></h4>
						</div>

						<div class="collapse panel-collapse" id="faq7">
							<div class="panel-body faq_title">dedfu
							</div>
						</div>
					</div>

					<div class="panel">
						<div class="panel-heading">
							<h4 class="panel-title faq_title"><a href="#faq8" data-toggle="collapse" data-parent="#accordion">FAQ 8</a></h4>
						</div>

						<div class="collapse panel-collapse" id="faq8">
							<div class="panel-body faq_title">dedfu
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<footer class=" navbar-fixed-bottom">
	  <div class="container">
	   	<ul>
	   		<a href=" " ui-sref="privacy">Privacy Policy</a>
	   		<a href="" ui-sref="tnc">Terms and Conditions</a>
	   		<a href="" ui-sref="legal">Legal</a>
	   		<a href="" ui-sref="faq">FAQ</a>
	   	</ul>
	  </div>
	</footer>
	

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/mdb.js"></script>
  </body>
</html>