<div class="row">
    <div class="col-md-8" style="display:block;margin:auto">
       

        <div class="on-off">
            <h3>Does Device switch on?</h3>
           
            <p>&nbsp;</p>
            <button type="button" ng-click="q1_yes=false;q1_no=true" class="btn btn-default" id="fridge_yes">Yes</button>
            <button type="button"  ng-click="q1_yes=true;q1_no=false" class="btn btn-danger">No</button>
        </div>
         
         <div class="door_type">
            <h3>Select Fridge Type</h3>
            <p>&nbsp;</p>
            <input type="radio" name="door" ng-model="fridge.door_type" value="single_door">Single Door Fridge
             <input type="radio" name="door" ng-model="fridge.door_type" value="double_door">Double Door Fridge
             <p>&nbsp;</p>
              <button type="button" ng-click="calculate_fridge()" class="btn btn-default">Evaluate</button>
        </div>
        
    </div>
    <div class="col-md-4" id="spec_list">
       <p class="myList">Fridge Type : {{fridge.door_type}}</p>
    </div>
</div>

<script>
    $('.door_type').hide();
    $('#fridge_yes').on('click',function(){
        $('.on-off').hide();
        $('.door_type').fadeIn(1000);
    })
</script>