  	 <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/footerpages.css">


  	<div class="container  pagecontainer card1">  
		    <div class="row title ">
		    	<div class=" offset-sm-0 col-sm-6 col-md-12 ">
		    		<a href="https://test.shuttlescrap.com/"><span><img src="img/logo.png" height="60" width="90"></span><strong class="heading">ShuttleScrap</strong></a>
		    	</div>
		    </div>

		    <div class="row option">
			    	<div class="offset-md-2 col-md-4">
			    		<div class="option1">
			    			<span class="fa fa-mobile" aria-hidden="true"></span><b><a href="#" style="color: #22aa86;font-size:15px">Get the App</a></b>
			    		</div>
			    	</div>

			    	<div class="offset-md-2 col-md-4">
			    		<div class="option1">
			    			<span class="fa fa-shopping-cart" aria-hidden="true"></span><b><a href="https://pickup.shuttlescrap.com/" style="color: #22aa86;font-size:15px">Schedule Pickup</a></b>
			    		</div>
			    	</div>
			   
		    </div>
	</div>

	<div class="container"  style="padding-top:20px">
		<div class="row">
			<div class="col-md-5 ">
				<h1 style="color: #22aa86">Legal</h1>
			</div>	
		</div>

		<div class="row">
			<div class="col-md-12 text_div" style="">
			<p class="text">Sims Recycling Solutions is a marketing brand name of Sims Group UK Limited

			<br><br>UK company name: Sims Group UK Limited

			<br><br>Registered company: Registered in England and Wales, No 03242331

			<br><br>Registered office: Long Marston, Stratford-upon-Avon, Warwickshire, CV37 8AQ, United Kingdom

			<br><br>Please note that Sims Group UK Limited is the main European trading subsidiary of the world's leading global metal and electronics recycler, Sims Metal Management Limited, which is an Australian publicly listed company.

			<br><br>Ultimate parent company name: Sims Metal Management Limited

			<br><br>Registered company: Registered in Australia ABN 69 114 838 630

			<br><br>Registered office: Sir Joseph Banks Corporate Park, Suite 3, Level 2, 32-34 Lord Street, Botany NSW 2019, Australia

			<br><br>ASX code: SGM


			<br><br>In India, Sims Recycling Solutions operates through its wholly owned subsidiaries, Sims Recycling Solutions India Private Limited, and Trishyiraya Recycling India Private Limited. Services in India are offered on a pan India basis, with principal recycling facilities in Noida, Bengaluru and Chennai, and a collection and logistics network throughout the country.</p>
		</div>
	</div>
</div>

	<footer class=" navbar-fixed-bottom">
	  <div class="container">
	   	<ul>
	   		<a href=" " ui-sref="privacy">Privacy Policy</a>
	   		<a href="" ui-sref="tnc">Terms and Conditions</a>
	   		<a href="" ui-sref="legal">Legal</a>
	   		<a href="" ui-sref="faq">FAQ</a>
	   	</ul>
	  </div>
	</footer>