<div class="card" style="padding:40px;margin-top:30px;border:1px solid grey">
    <!--Name-->
    <h1 class="h3-responsive text-center">Estimate value of your scrapp</h1>
    <hr>
    <div class="row">

        <!--Author Data-->
        <div class=" col-12 col-sm-10">
            <p>Select type of the product</p>
            <div class="item_categ">
                <div class="card" style="padding:40px">
                    <div class="row">
                        <div class="col-md-6 flex-coloumn  feature1">
                            <i class="fa fa-newspaper-o pred" aria-hidden="true"></i>

                            <h4>Dry Waste</h4>
                            <div class="row">
                                <div class="col-md-12">
                                  <fieldset class="form-group">
                                <input name="group1" type="radio"  ng-model="predictor.prod_type" value="dry_waste" ng-click="unit=false;weight=false;main_question=false">
                                <label for="radio11">Select</label>
                            </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 flex-coloumn  feature1">
                            <i class="fa fa-tablet pred" aria-hidden="true"></i>
                            
                            <h4>Electronic Items</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <input name="group1" type="radio" id="radio11"  ng-model="predictor.prod_type" value="electronics">
                                        <label for="radio11" ng-click="unit=false;weight=false;main_question=false">Select</label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                      


                    </div>
                </div>
            </div>

            
            <p>&nbsp</p>
            <div class="electronic_itmes" ng-hide="!check_electronic()">
                <div class="card" style="padding:40px">
                    <div class="row">
                        <div class="col-md-4 flex-coloumn feature1">
                            <p>&nbsp</p>
                            <i class="fa fa-mobile pred" aria-hidden="true"></i>
                            <p>&nbsp</p>
                            <h4>Smartphone</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <input name="group1" type="radio" id="radio11"  ng-model="predictor.name" value="smartphone">
                                        <label for="radio11">Select</label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 flex-coloumn feature1">
                            <p>&nbsp</p>

                            <i class="fa fa-tablet pred" aria-hidden="true"></i>
                            <p>&nbsp</p>
                            <h4>Tablet</h4>
                             <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <input name="group1" type="radio" id="radio11"  ng-model="predictor.name" value="tablet">
                                        <label for="radio11">Select</label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 flex-coloumn feature1">
                            <p>&nbsp</p>

                            <i class="fa fa-tablet pred" aria-hidden="true"></i>
                            <p>&nbsp</p>
                            <h4>Iphone</h4>
                             <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <input name="group1" type="radio" id="radio11"  ng-model="predictor.name" value="iphone">
                                        <label for="radio11">Select</label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 flex-coloumn feature1">
                            <i class="fa fa-laptop pred" aria-hidden="true"></i>
                            <p>&nbsp</p>
                            <h4>Laptop</h4>
                             <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <input name="group1" type="radio" id="radio11"  ng-model="predictor.name" value="laptop">
                                        <label for="radio11">Select</label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 flex-coloumn feature1">
                            <i class="fa fa-desktop pred" aria-hidden="true"></i>
                            <p>&nbsp</p>
                            <h4>Desktop</h4>
                             <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <input name="group1" type="radio" id="radio11"  ng-model="predictor.name" value="desktop">
                                        <label for="radio11">Select</label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 flex-coloumn feature1">
                            <p>&nbsp</p>

                            <i class="fa fa-gamepad pred" aria-hidden="true"></i>
                            <p>&nbsp</p>
                            <h4>Gaming Console</h4>
                             <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <input name="group1" type="radio" id="radio11"  ng-model="predictor.name" value="gaming_console">
                                        <label for="radio11">Select</label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">

                        <div class="col-md-4 flex-coloumn feature1">
                            <p>&nbsp</p>

                            <i class="fa fa-tv  pred" aria-hidden="true"></i>
                            <p>&nbsp</p>
                            <h4>TV</h4>
                             <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <input name="group1" type="radio" id="radio11"  ng-model="predictor.name" value="tv">
                                        <label for="radio11">Select</label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 flex-coloumn feature1">
                            <p>&nbsp</p>

                            <i class="fa fa-tv pred" aria-hidden="true"></i>
                            <p>&nbsp</p>
                            <h4>Fridge</h4>
                             <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <input name="group1" type="radio" id="radio11"  ng-model="predictor.name" value="fridge">
                                        <label for="radio11">Select</label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 flex-coloumn feature1">
                            <p>&nbsp</p>

                            <i class="fa fa-tv  pred" aria-hidden="true"></i>
                            <p>&nbsp</p>
                            <h4>Washing Machine</h4>
                             <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <input name="group1" type="radio" id="radio11"  ng-model="predictor.name" value="washing_machine">
                                        <label for="radio11">Select</label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                          <div class="col-md-12 flex-center flex-coloumn">
                            <button type="button" class="btn btn-success" ng-click="main_question=true;unit=false;weight=false">Submit</button>

                        </div>
                    </div>
                </div>
            </div>


             <div class="dry_itmes" ng-hide="!check_dry()">
                <div class="card" style="padding:40px">
                    <div class="row">
                        <div class="col-md-4 flex-coloumn feature1">
                            <p>&nbsp</p>
                            <i class="fa fa-mobile pred" aria-hidden="true"></i>
                            <p>&nbsp</p>
                            <h4>Glass</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <input name="group1" type="radio" id="radio11"  ng-model="predictor.name" value="smartphone">
                                        <label for="radio11">Select</label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 flex-coloumn feature1">
                            <p>&nbsp</p>

                            <i class="fa fa-tablet pred" aria-hidden="true"></i>
                            <p>&nbsp</p>
                            <h4>Metal</h4>
                             <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <input name="group1" type="radio" id="radio11"  ng-model="predictor.name" value="tablet">
                                        <label for="radio11">Select</label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 flex-coloumn feature1">
                            <p>&nbsp</p>

                            <i class="fa fa-tablet pred" aria-hidden="true"></i>
                            <p>&nbsp</p>
                            <h4>Plastic</h4>
                             <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <input name="group1" type="radio" id="radio11"  ng-model="predictor.name" value="iphone">
                                        <label for="radio11">Select</label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 flex-coloumn feature1">
                            <i class="fa fa-laptop pred" aria-hidden="true"></i>
                            <p>&nbsp</p>
                            <h4>Tin Cans</h4>
                             <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <input name="group1" type="radio" id="radio11"  ng-model="predictor.name" value="laptop">
                                        <label for="radio11">Select</label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 flex-coloumn feature1">
                            <i class="fa fa-desktop pred" aria-hidden="true"></i>
                            <p>&nbsp</p>
                            <h4>Cardboard</h4>
                             <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <input name="group1" type="radio" id="radio11"  ng-model="predictor.name" value="desktop">
                                        <label for="radio11">Select</label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 flex-coloumn feature1">
                            <p>&nbsp</p>

                            <i class="fa fa-gamepad pred" aria-hidden="true"></i>
                            <p>&nbsp</p>
                            <h4>Batteries</h4>
                             <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <input name="group1" type="radio" id="radio11"  ng-model="predictor.name" value="gaming_console">
                                        <label for="radio11">Select</label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">

                        <div class="col-md-4 flex-coloumn feature1">
                            <p>&nbsp</p>

                            <i class="fa fa-tv  pred" aria-hidden="true"></i>
                            <p>&nbsp</p>
                            <h4>Furniture</h4>
                             <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <input name="group1" type="radio" id="radio11"  ng-model="predictor.name" value="tv">
                                        <label for="radio11">Select</label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 flex-coloumn feature1">
                            <p>&nbsp</p>

                            <i class="fa fa-tv pred" aria-hidden="true"></i>
                            <p>&nbsp</p>
                            <h4>Books</h4>
                             <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <input name="group1" type="radio" id="radio11"  ng-model="predictor.name" value="fridge">
                                        <label for="radio11">Select</label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 flex-coloumn feature1">
                            <p>&nbsp</p>

                            <i class="fa fa-tv  pred" aria-hidden="true"></i>
                            <p>&nbsp</p>
                            <h4>Paper</h4>
                             <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <input name="group1" type="radio" id="radio11"  ng-model="predictor.name" value="washing_machine">
                                        <label for="radio11">Select</label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                          <div class="col-md-12 flex-center flex-coloumn">
                            <button type="button" class="btn btn-success" ng-click="weight=true">Submit</button>

                        </div>
                    </div>
                </div>
            </div>
            <p>&nbsp</p>
             <div class="main_question" ng-show="main_question">
                <div class="md-form">
                    <h3>Does device start ?</h3>
                    <button type="button" class="btn btn-default" ng-click="unit=true;weight=false">Yes</button>
                    <button type="button" class="btn btn-danger" ng-click="weight=true;unit=false">No</button>
                </div>
            </div>

            <div class="peices" ng-show="unit">
                <div class="md-form">
                    <i class="fa fa-user prefix" style="color:#22aa86"></i>
                    <input type="text" id="form2" class="form-control" ng-model="predictor.amount_unit">
                    <label for="form2">Quantity(no of units)</label>
                </div>
            </div>
            <div class="weight" ng-show="weight">
                <div class="md-form">
                    <i class="fa fa-user prefix" style="color:#22aa86"></i>
                    <input type="text" id="form3" class="form-control" ng-model="predictor.amount_kg">
                    <label for="form3">Quantity(in kg)</label>
                </div>
            </div>
            <p>&nbsp</p>
            <p>&nbsp</p>

           
            <div class="questions">
                <div class="md-form">
                    <h3>Does device have any damage ? (screen damage,body damage)</h3>
                    <button type="button" class="btn btn-default">Yes</button>
                    <button type="button" class="btn btn-danger">No</button>
                </div>
            </div>
            <button class="btn btn-deep-green">{{predictor.price * predictor.amount }}</button>
            <button class="btn btn-deep-purple" ng-click="predict()">Analyse</button>
        </div>
    </div>
</div>
