<div class="electronic_itmes">
    <div class="card" style="padding:40px">
        <button type="button" class="btn btn-success" ng-click="back()">Back</button>
        <div class="row">
            <div class="col-md-4 flex-coloumn feature1" ng-click="elect_1()" style="display:block;margin:0 auto">

                <img src="./img/smartphone_predict.png" style="width:auto;height:200px" class="img-fluid mx-auto">
                <p>&nbsp</p>
                <h4 class="text-center">Smartphone</h4>

            </div>
            <div class="col-md-4 flex-coloumn feature1" ng-click="elect_2()">


                 <img src="./img/tablet_predict.png" style="width:auto;height:200px" class="img-fluid mx-auto">
                <p>&nbsp</p>
                <h4 class="text-center">Tablets</h4>

            </div>
            <div class="col-md-4 flex-coloumn feature1" ng-click="elect_3()">


                <img src="./img/mobile_predict.png" style="width:auto;height:200px" class="img-fluid mx-auto">
                <p>&nbsp</p>
                <h4 class="text-center">Iphone</h4>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4 flex-coloumn feature1" ng-click="elect_4()">
                <img src="./img/laptop_predict.png" style="width:auto;height:200px" class="img-fluid mx-auto">
                <p>&nbsp</p>
                <h4 class="text-center">Laptop</h4>

            </div>
            <div class="col-md-4 flex-coloumn feature1" ng-click="elect_5()">
                <img src="./img/desktop_predict.png" style="width:auto;height:200px" class="img-fluid mx-auto">
                <p>&nbsp</p>
                <h4 class="text-center">Desktop</h4>
            </div>
            <div class="col-md-4 flex-coloumn feature1" ng-click="elect_6()">
                <img src="./img/ipad_predict.png" style="width:auto;height:200px" class="img-fluid mx-auto">
                <p>&nbsp</p>
                <h4 class="text-center">Ipad</h4>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4 flex-coloumn feature1" ng-click="elect_7()">
                <img src="./img/tv_predict.png" style="width:auto;height:200px" class="img-fluid mx-auto">
                <p>&nbsp</p>
                <h4 class="text-center">TV</h4>

            </div>
            <div class="col-md-4 flex-coloumn feature1" ng-click="elect_8()">
                <img src="./img/fridge_predict.png" style="width:auto;height:200px" class="img-fluid mx-auto">
                <p>&nbsp</p>
                <h4 class="text-center">Fridge</h4>

            </div>
            <div class="col-md-4 flex-coloumn feature1" ng-click="elect_9()">
                 <img src="./img/washing_predict.png" style="width:auto;height:200px" class="img-fluid mx-auto">
                <p>&nbsp</p>
                <h4 class="text-center">Washing Machine</h4>

            </div>

        </div>
    </div>
</div>