<p>&nbsp;</p>
<p>&nbsp;</p>
<h1 class="text-center" style="color:#22aa86">Select type of the product</h1>
<hr style="border-color:#22aa86;margin-left:30%;margin-right:30%">
<div class="item_categ">
    <div class="card" style="padding:40px">
        <div class="row">
            <div class="col-md-6 flex-coloumn  feature1" ng-click="start_dry()" ng-model="predictor.prod_type" value="DryWaste">
               
             <img src="./img/dry_predict.png" style="width:auto;height:200px" class="img-fluid mx-auto">
                <p>&nbsp</p>
                <h4 class="text-center">Dry Waste</h4>

            </div>
            <div class="col-md-6 flex-coloumn  feature1 " ng-click="start_elect()" ng-model="predictor.prod_type" value="Electronics"
                style="display:block;margin:auto">
                <img src="./img/electronic_predict.png" style="width:auto;height:200px" class="img-fluid mx-auto">
                <p>&nbsp</p>

                <h4 class="text-center">Electronic Items</h4>

            </div>

        </div>
    </div>
</div>