  <p>Select type of the product</p>
            <div class="item_categ">
                <div class="card" style="padding:40px">
                    <div class="row">
                        <div class="col-md-6 flex-coloumn  feature1" ng-click="start_dry()" ng-model="predictor.prod_type" value="DryWaste" style="display:block;margin:auto">
                            <i class="fa fa-newspaper-o pred" aria-hidden="true"></i>
                            <h4>Dry Waste</h4>
                           
                        </div>
                        <div class="col-md-6 flex-coloumn  feature1" ng-click="start_elect()" ng-model="predictor.prod_type" value="Electronics" style="display:block;margin:auto">
                            <i class="fa fa-tablet pred" aria-hidden="true"></i>
                            
                            <h4>Electronic Items</h4>
                           
                        </div>
                        
                    </div>
                </div>
            </div>
