<div class="dry_itmes">
    <div class="card" style="padding:40px">
        <button type="button" class="btn btn-success" ng-click="back()">Back</button>

        <div class="row">
            <div class="col-md-4 feature1">
                <img src="./img/glass_predict.png" style="width:auto;height:200px" class="img-fluid mx-auto">
                <p>&nbsp</p>
                <h4 class="text-center">Glass</h4>

            </div>
            <div class="col-md-4 feature1">
                <img src="./img/metal_predict.png" style="width:auto;height:200px" class="img-fluid mx-auto">
                <p>&nbsp</p>
                <h4 class="text-center">Metal</h4>

            </div>
            <div class="col-md-4 feature1">
                <img src="./img/plastic_predict.png" style="width:auto;height:200px" class="img-fluid mx-auto">
                <p>&nbsp</p>
                <h4 class="text-center">Plastic</h4>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4 flex-coloumn feature1" ng-click="dry_4()">
                <img src="./img/tincan_predict.png" style="width:auto;height:200px" class="img-fluid mx-auto">
                <p>&nbsp</p>
                <h4 class="text-center">Tin Cans</h4>

            </div>
            <div class="col-md-4 flex-coloumn feature1" ng-click="dry_5()">
                <img src="./img/cardboard_predict.png" style="width:auto;height:200px" class="img-fluid mx-auto">
                <p>&nbsp</p>
                <h4 class="text-center">Cardboard</h4>

            </div>
            <div class="col-md-4 flex-coloumn feature1" ng-click="dry_6()">
                <img src="./img/battery_predict.png" style="width:auto;height:200px" class="img-fluid mx-auto">
                <p>&nbsp</p>
                <h4 class="text-center">Batteries</h4>

            </div>


        </div>
        <div class="row">

            <div class="col-md-4 flex-coloumn feature1" ng-click="dry_7()">
                <img src="./img/furniture_predict.png" style="width:auto;height:200px" class="img-fluid mx-auto">
                <p>&nbsp</p>
                <h4 class="text-center">Furniture</h4>

            </div>
            <div class="col-md-4 flex-coloumn feature1" ng-click="dry_8()">
                <img src="./img/book_predict.png" style="width:auto;height:200px" class="img-fluid mx-auto">
                <p>&nbsp</p>
                <h4 class="text-center">Books</h4>

            </div>
            <div class="col-md-4 flex-coloumn feature1" ng-click="dry_9()">
                <img src="./img/newspaper_predict.png" style="width:auto;height:200px" class="img-fluid mx-auto">
                <p>&nbsp</p>
                <h4 class="text-center">Newspaper</h4>
            </div>

        </div>
    </div>
</div>
<p>&nbsp</p>