<div class="electronic_itmes">
    <div class="card" style="padding:40px">
        <button type="button" class="btn btn-success" ng-click="back()">Back</button>
        <div class="row">
            <div class="col-md-4 flex-coloumn feature1" ng-click="elect_1()">
                <p>&nbsp</p>
                <i class="fa fa-mobile pred" aria-hidden="true"></i>
               
                <h4>Smartphone</h4>
               
            </div>
            <div class="col-md-4 flex-coloumn feature1" ng-click="elect_2()">
                <p>&nbsp</p>

                <i class="fa fa-tablet pred" aria-hidden="true"></i>
                
                <h4>Tablet</h4>
               
            </div>
            <div class="col-md-4 flex-coloumn feature1" ng-click="elect_3()">
                <p>&nbsp</p>

                <i class="fa fa-tablet pred" aria-hidden="true"></i>
                
                <h4>Iphone</h4>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 flex-coloumn feature1" ng-click="elect_4()">
                <i class="fa fa-laptop pred" aria-hidden="true"></i>
                <p>&nbsp</p>
                <h4>Laptop</h4>
               
            </div>
            <div class="col-md-4 flex-coloumn feature1" ng-click="elect_5()">
                <i class="fa fa-desktop pred" aria-hidden="true"></i>
                <p>&nbsp</p>
                <h4>Desktop</h4>
            </div>
            <div class="col-md-4 flex-coloumn feature1" ng-click="elect_6()">
                <p>&nbsp</p>

                <i class="fa fa-gamepad pred" aria-hidden="true"></i>
               
                <h4>Gaming Console</h4>
               
            </div>


        </div>
        <div class="row">

            <div class="col-md-4 flex-coloumn feature1" ng-click="elect_7()">
                <p>&nbsp</p>

                <i class="fa fa-tv  pred" aria-hidden="true"></i>
               
                <h4>TV</h4>
               
            </div>
            <div class="col-md-4 flex-coloumn feature1" ng-click="elect_8()">
                <p>&nbsp</p>

                <i class="fa fa-tv pred" aria-hidden="true"></i>
                
                <h4>Fridge</h4>
               
            </div>
            <div class="col-md-4 flex-coloumn feature1" ng-click="elect_9()">
                <p>&nbsp</p>

                <i class="fa fa-tv  pred" aria-hidden="true"></i>
                
                <h4>Washing Machine</h4>
               
            </div>
           
        </div>
    </div>
</div>