  <div class="container">
            <p>&nbsp</p>
            <div class="row">
                <div class="col-md-6">

                    <div class="card text-center">
                        <div class="card-header default-color-dark white-text">
                            Featured
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <!--Avatar-->
                                <div class="col-12 col-sm-2" style="display:block;margin:auto">
                                    <img src='{{user_data.user_image}}' class="img-fluid">
                                </div>
                            </div>
                            <hr>
                            <h4 class="card-title">Welcome {{user_data.user_name}} to ShuttleScrap</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <p style="color:deeppink">Credit Points : {{user_data.user_totalcredits}}</p>
                            <a class="btn btn-default">Update Your Profile</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <!--Card Primary-->
                    <div class="card card-primary text-center z-depth-2">
                        <div class="card-block">
                            <p class="white-text">FEATURE 1</p>
                        </div>
                    </div>
                    <!--/.Card Primary-->

                    <!--Card Danger-->
                    <div class="card card-danger text-center z-depth-2">
                        <div class="card-block">
                            <p class="white-text">FEATURE 2</p>
                        </div>
                    </div>
                    <!--/.Card Danger-->

                    <!--Card Success-->
                    <div class="card card-success text-center z-depth-2">
                        <div class="card-block">
                            <p class="white-text">FEATURE 3</p>
                        </div>
                    </div>
                    <!--/.Card Success-->
                </div>

                <!--/.Author box-->
            </div>

        </div>