<div class="row" style="background-color:cornsilk">
    <div class="col-md-3">
        <div class="sidebar">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-md-12 flex-coloumn">
                        <div style="margin-top:10px">
                            <img src="dp_g.png" class="img-responsive scrapp_logo text-center">
                            <h4 class="text-center">Encash your Trash</h4>
                            <p>&nbsp</p>
                            <p>&nbsp</p>
                        </div>
                        <div class="credits" style="background-color:aliceblue">
                            <i class="fa fa-money" aria-hidden="true" style="font-size:30px"></i>
                            <a ui-sref="userMain.predictor">Waste Value Predictor</a>
                        </div>
                        <div class="credits" style="background-color:aliceblue">
                            <i class="fa fa-truck" aria-hidden="true" style="font-size:30px"></i>
                            <a ui-sref="userMain.booking">Pickup Booking History</a>
                        </div>
                        <div class="credits" style="background-color:aliceblue">
                            <i class="fa fa-bars" aria-hidden="true" style="font-size:30px"></i>
                            <a ui-sref="userMain.newbooking">Book Pickup Request</a>
                        </div>
                         <div class="credits" style="background-color:aliceblue">
                            <i class="fa fa-user" aria-hidden="true" style="font-size:30px"></i>
                            <a ui-sref="userMain.user_profile">My Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <nav class="navbar navbar-toggleable-md navbar-dark green">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1"
                    aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
                <a class="navbar-brand" href="#">
                    <strong>User Dashboard</strong>
                </a>
                <div class="collapse navbar-collapse" id="navbarNav1">
                   
                    <form class="form-inline waves-effect waves-light">
                         <ul class="navbar-nav mr-auto">

                        <li class="nav-item dropdown btn-group">
                            <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user_data.user_name}}</a>
                            <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                                <a class="dropdown-item"> <button type="button" class="btn btn-indigo" ng-click="logout()">Logout</button></a>

                            </div>
                        </li>
                    </ul> 
                    </form>
                </div>
            </div>
        </nav>
        <div class="container">
            <p>&nbsp</p>
            <div class="row">
                <div class="col-md-12">

                


                    <ui-view>

                    </ui-view>
                </div>
                

                <!--/.Author box-->
            </div>

        </div>
    </div>
</div>
