    <div class="row">
        <div class="col-md-3">
            <div class="sidebar">
                <div class="container-fluid">
                    <div class="row ">
                        <div class="col-md-12">
                            <div style="margin-top:10px">
                                <img src="img/logo.jpg" class="img-responsive scrapp_logo">
                                <h4>Encash your Trash</h4>
                                <p>&nbsp</p>
                                <p>&nbsp</p>
                            </div>
                            <div class="credits">
                                <i class="fa fa-money" aria-hidden="true" style="font-size:50px"></i>
                                <p>My Credit Points</p>
                            </div>
                            <div class="credits">
                                <i class="fa fa-truck" aria-hidden="true" style="font-size:50px"></i>
                                <p>Pickup Booking History</p>
                            </div>
                            <div class="credits">
                                <i class="fa fa-bars" aria-hidden="true" style="font-size:50px"></i>
                                <p>My Details</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!--Author box-->
                        <div class="author-box" style="margin-top:30px">
                            <!--Name-->
                            <h1 class="h3-responsive text-center">Welcome kartik to ShuttleScrap</h1>
                            <hr>
                            <div class="row">
                                <!--Avatar-->
                                <div class="col-12 col-sm-2">
                                    <img src="http://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="img-fluid rounded-circle z-depth-2">
                                </div>
                                <!--Author Data-->
                                <div class=" col-12 col-sm-10">
                                    <p><strong>Kartik Singh</strong></p>
                                    <p style="color:deeppink">86 Credit Poinnts</p>
                                    <p class="hidden-md-down">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint esse nulla quia quam veniam
                                        commodi dicta, iusto inventore. Voluptatum pariatur eveniet ea, officiis vitae praesentium
                                        beatae quas libero, esse facere.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/.Author box-->
                    </div>
                    <div class="col-md-12" style="margin-top:100px">
                        <table class="table">
                            <h1>Your Previous Bookings</h1>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Column heading</th>
                                    <th>Column heading</th>
                                    <th>Column heading</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-active">
                                    <th scope="row">1</th>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                </tr>
                                <tr class="table-success">
                                    <th scope="row">3</th>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                </tr>
                                <tr>
                                    <th scope="row">6</th>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                </tr>
                                <tr class="table-warning">
                                    <th scope="row">7</th>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                </tr>
                                <tr>
                                    <th scope="row">8</th>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                </tr>
                                <tr class="table-danger">
                                    <th scope="row">9</th>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <footer class="page-footer center-on-small-only" style="background-color:#22aa86;width:100%">
                            <!--Footer Links-->
                            <div class="container-fluid">
                                <div class="container">
                                    <div class="row">
                                        <!--First column-->
                                        <div class="col-md-4 ">
                                            <h5 class="title">ShuttleScrap India</h5>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                                Ipsum has been the industry's standard dummy text ever since the 1500s, when
                                                an unknown printer took a galley of type and scrambled it to make a type
                                                specimen book. It has survived not only five centuries, but also the leap
                                                into electronic typesetting, remaining essentially unchanged.</p>
                                        </div>
                                        <div class="col-md-1">
                                            <p>&nbsp</p>
                                        </div>
                                        <!--/.First column-->
                                        <hr class="hidden-md-up">
                                        <!--Second column-->
                                        <div class="col-md-3 ">
                                            <h5 class="title">Compnay Profile</h5>
                                            <ul>
                                                <li><a href="#!">595 Commonwealth Avenue Boston, Massachusetts 02215</a></li>
                                                <li><a href="#!">info@scrapp.in</a></li>
                                            </ul>
                                        </div>
                                        <!--/.Second column-->
                                        <hr class="hidden-md-up">
                                        <!--Third column-->
                                        <div class="col-md-4">
                                            <h5 class="title">Latest News</h5>
                                            <ul>
                                                <li><a href="#!">How to Recycle Paper</a></li>
                                                <li><a href="#!">The Evolution of Recycling</a></li>
                                                <li><a href="#!">Global Warming Facts</a></li>
                                                <li><a href="#!">Quote Post</a></li>
                                            </ul>
                                        </div>
                                        <!--/.Third column-->
                                        <hr class="hidden-md-up">
                                        <!--Fourth column-->
                                        <!--/.Fourth column-->
                                    </div>
                                </div>
                            </div>
                            <!--/.Footer Links-->
                            <hr>
                            <!--Call to action-->
                            <div class="call-to-action">
                                <ul>
                                    <li>
                                        <h5>Raise Scrap Pick up Request</h5>
                                    </li>
                                    <li><a href="" class="btn btn-teal">Schedule a Pickup</a></li>
                                </ul>
                            </div>
                            <!--/.Call to action-->
                            <hr>
                            <!--Social buttons-->
                            <div class="social-section">
                                <ul>
                                    <button type="button" class="btn btn-lg btn-fb" style="background-color:rgb(59, 89, 182)"><i class="fa fa-facebook"></i></button>
                                    <button type="button" class="btn btn-lg btn-tw" style="background-color:rgb(85, 172, 238)"><i class="fa fa-twitter"></i></button>
                                    <button type="button" class="btn btn-lg btn-ins" style="background-color:rgb(63, 114, 155)"><i class="fa fa-instagram"></i></button>
                                    <button type="button" class="btn btn-lg btn-gplus" style="background-color:rgb(221, 75, 57)"><i class="fa fa-google-plus"></i></button>
                                </ul>
                            </div>
                            <!--/.Social buttons-->
                            <!--Copyright-->
                            <div class="footer-copyright">
                                <div class="container-fluid">
                                    © 2017 Copyright: <a href="https://scrapp.in"> Scrapp.in </a>
                                </div>
                            </div>
                            <!--/.Copyright-->
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>